body, html {
    margin: 0;
    padding: 0;
}



body {
    background: rgba(126, 127, 128, 0.71);
}

/* navigation */

header {
    display: inline-block;
    background: black;
    width: 100%;
}

header h1 {
    padding: 10px 0;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #ff9d8f, -1px 1px 0 #fff, 1px 1px 0 #8fccff;
}

a {
    color: aliceblue;
}


a:hover {
    color: deepskyblue;
    cursor: pointer;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}


/* h1, h2, h3, p */

h1 {
    display: block;
    font-size: 2em;
    text-align: center;
    color: gold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    padding-bottom: 20px;
}

h2 {
    text-align: center !important;
    color: orange;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin-top: 0.5em;
}

h3 {
    text-align: center !important;
    color: chocolate;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

h4 {
    text-align: center !important;
    color: chocolate;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

p {
    font-family: "Ink Free";
    font-size: large;
    color: #000000;
}

/* classes */

.shadow {
    background: rgba(35, 37, 33, 0.96);
    box-shadow: black 5px 5px 10px 5px;
    padding: 20px;
}

.app_statistics p {
    text-align: center;
}

.app_statistics{
    margin-top: 20px;
}

@media only screen and (min-width: 961px) {

    /* register form */
    .ToDo a {
        color: deeppink;
        font-size: 1.5em;
        outline-color: blue;
    }

    .ToDo {
        width: 298px;
        margin: 50px auto;
    }

    .flex-center{
    }

    .register-form .flex-center{
        padding: 20px;
    }

    .register-form{
        width: 600px;
        height: 450px;
        border: 2px solid rgba(126, 85, 255, 0.62);
        background: rgba(195, 217, 255, 0.8);
        margin: 10% auto;
        padding: 50px;
        border-radius: 15px;
        position: relative;
    }

    .register-form h1{
        text-align: center;
        font-size: 2.5em;
        color: #282828;
        font-family: Verdana, Arial, Helvetica, sans-serif;
    }

    .register-form input{
        width: 490px;
        padding: 10px;
        margin: 30px 0;
        border: none;
    }

    .password{
        color: #575757;
    }

    nav{
        position: relative;
        width: 960px;
        margin: 0 auto;
    }

    nav h1 {
        width: 100%;
        min-width: 960px;
    }

    nav a {
        position: absolute;
        right: 10%;
        top: 8px;
        font-size: 1.6em;
    }

    h2 {
        padding: 20px 0;
    }

    header {
        position: fixed;
        height: 60px;
    }

    .ssize {
        padding-left: 20%;
        width: 80%;
    }

    .topNav {
        width: 960px;
        margin: 0 auto;
        justify-content: space-between;
        display: flex;
        padding: 20px 50px;
    }

    .topNav p {
        color: orange;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        font-size: 2em;
        width: 300px;
    }

    .topNav .addMoney{
        color: red;
        font-size: 1em;
        margin-right: 10px;
        border: none;
        background: white;
        font-weight: bold;
    }

    /*article, p */
    article {
        width: 850px;
        margin: 0 auto;
    }

    article h3 {
        margin-bottom: 70px;
    }

    article p {
        text-align: center;
    }


    /* classes */
    #wrapper {
        overflow: hidden;
    }

    .App {
        width: 960px;
        margin: 60px auto 0;
        background: #fff;
        padding: 20px 0;
        height: 100%;
        padding-bottom: 1000em;
        margin-bottom: -1000em;
    }

    .try-again {
        text-align: center;
    }

    .warning {
        text-align: center;
        color: #212529;
        background-color: #ffc107;
        border: 1px solid transparent;
        cursor: pointer;
        border-radius: .25rem;
        padding: .375rem .75rem;
    }


    .stopPlaying {
        color: #212529;
        background-color: #ffc107;
        border: 1px solid transparent;
        cursor: pointer;
        border-radius: .25rem;
        padding: .375rem .75rem;
        height: 42px;
        width: 130px;
        text-align: center;
        font-size: 1.2em;
    }

    /*.size {*/
    /*    padding-left: 40%;*/
    /*    width: 60%;*/
    /*}*/
    /*classes for games*/
    .background-blue {

    }

    .banana {
        width: 960px;
    }

    .banana img {
        border-right: 3px solid rgba(9, 9, 9, 0.83);
        border-bottom: 3px solid black;
        border-left: 3px solid white;
        border-top: 3px solid white;
        width: 880px;
    }

    .banana .shadow {
        width: 920px;
        padding: 20px;
        margin: 0 auto;
    }

    .banana button {
        width: 10%;
    }

    /* footer */
    footer {
        margin-top: 10%;
    }

    /*banana - game - process*/
    main {
        width: 960px;
        margin: 0 auto;
    }

    .game_process h2 {
        font-size: 5em;
        font-weight: 300;
        line-height: 1.2;
        color: yellow;
        text-align: center;
        margin: 10px;
    }

    .cherry {
        display: flex;
        margin-bottom: 20px;
        width: 960px;
        padding: 10px;
    }

    .cherry img {
        width: 172px;
        height: 172px;
        margin-right: 20px;
    }

    .cherry img:last-child {
        margin-right: 0;
    }

    .options {
        display: flex;
        justify-content: center;
        margin: 20px 0 0;
    }

    .options button {
        margin-right: 20px;
        width: 14%;
    }

    .options button:last-child {
        margin-right: 0;
    }

    /* X and O */
    .X-and-O .shadow img {
        background: #c8c6ff;
        width: 800px;
        border-right: 3px solid black;
        border-bottom: 3px solid black;
        border-left: 3px solid white;
        border-top: 3px solid white;
    }

    .X-and-O .shadow {
        width: 840px;
        padding: 20px;
        margin: 0 auto;
    }

    .X-and-O {
        width: 960px;
        margin: 40px auto 0;
    }

    .X-and-O button {
        width: 10%;
    }

    /* container elements*/
    section {
        width: 960px;
        margin: 30px auto;
    }

    .container {
        padding: 0;
        margin: 0 auto;
        width: 368px;
        height: 368px;
        display: flex;
        background: rgba(255, 228, 196, 0.54);
        flex-wrap: wrap;
        border-left: 2px solid black;
        border-bottom: 2px solid black;
    }

    .container div {
        margin: 0;
        width: 122px;
        height: 122px;
        border-right: 2px solid black;
        border-top: 2px solid black;
    }

    .container div img {
        width: 120px;
        height: 120px;
    }

    #game section button {
        width: 10%;
        margin-left: 45%;
    }

    .flex-center {
        display: flex;
        justify-content: center;
    }
}


@media only screen and (max-width: 960px)  {
    body {
        font-size: 7px;
        background: white;
    }

    nav h1 {
        width: 100%;
        font-size: 2.5em;
    }

    nav{
        position: relative;
    }

    nav a {
        font-size: 2.2em;
        position: absolute;
        right: 8%;
        top: 18%;
    }

    header {
        height: 40px;
    }
    /* Register */


    .register-form .flex-center{
        padding: 15px;
    }

    .register-form{
        width: 80%;
        height: 75%;
        border: 2px solid rgba(126, 85, 255, 0.62);
        background: rgba(195, 217, 255, 0.8);
        margin: 10% auto;
        padding: 3% 10%;
        border-radius: 15px;
        position: relative;
    }

    .register-form h1{
        text-align: center;
        font-size: 5em;
        color: #282828;
        font-family: Verdana, Arial, Helvetica, sans-serif;
    }

    .register-form input{
        width: 100%;
        padding: 10px;
        margin: 5% auto;
        border: none;
    }

    .password{
        color: #575757;
    }


    .topNav {
        width: 90%;
        margin: 0 auto;
        justify-content: space-between;
        display: flex;
        padding: 10px 0;
    }

    .topNav p {
        color: orange;
        font-size: 2.5em;
    }

    .topNav p  .addMoney{
        color: red;
        font-size: 1em;
        margin-right: 10px;
        border: none;
        background: white;
    }

    /*article, p */
    article {
        width: 90%;
        margin: 0 auto;
    }

    article h3 {
        margin-bottom: 30px;
        font-size: 2.7em;
        text-shadow: none;
        padding: 0 10px;
    }

    article p {
        text-align: center;
        padding: 0 10px;
        font-size: 1.8em;
    }

    article h1 {
        font-size: 4em;
    }

    #wrapper {
        overflow: hidden;
    }

    .App {
        width: 90%;
        margin: 0 auto;
        background: #fff;
        padding: 10px 0;
        height: 100%;

    }

    .try-again {
        text-align: center;
    }

    .warning {
        text-align: center;
        color: #212529;
        background-color: #ffc107;
        border: 1px solid transparent;
        cursor: pointer;
        border-radius: .25rem;
        padding: .375rem .75rem;
    }


    .stopPlaying {
        color: #212529;
        background-color: #ffc107;
        border: 1px solid transparent;
        cursor: pointer;
        border-radius: .25rem;
        height: 31px;
        width: 100px;
        text-align: center;
        font-size: 2em;
    }

    .size {
        padding-left: 40%;
        width: 60%;
    }

    /*classes for games*/
    .ToDo{
        width: 45%;
        max-width: 304px;
        margin: 30px auto 0;
    }

    .ToDo .shadow{
        padding: 6%;
    }

    .ToDo .shadow img{
        border-right: 3px solid rgba(9, 9, 9, 0.83);
        border-bottom: 3px solid black;
        border-left: 3px solid rgb(111, 235, 255);
        border-top: 3px solid rgb(111, 235, 255);
        width: 100%;
    }

    .ToDo a{
        color: blue;
        font-size: 2em;

    }

    .ToDo a:hover{
        color: #7db875;
        text-decoration: none;
        text-shadow: none;
    }

    .banana {
        width: 100%; /* 400 */
    }

    .banana .shadow {
        width: 90%; /*360px*/
        padding: 10px;
        margin: 0 auto;
    }

    .banana img {
        border-right: 3px solid rgba(9, 9, 9, 0.83);
        border-bottom: 3px solid black;
        border-left: 3px solid white;
        border-top: 3px solid white;
        width: 100%; /* 340 */
    }


    /* footer */
    footer {
        margin-top: 10%;
    }

    /*banana - game - process*/
    main {
        width: 90%;
        margin: 0 auto;
    }

    .game_process h2 {
        font-size: 5em;
        font-weight: 300;
        line-height: 1.2;
        color: yellow;
        text-align: center;
        margin: 5px;
    }

    .cherry {
        display: flex;
        width: 100%;
        padding: 5px;
        margin: 0 auto 10px;
    }

    .cherry img {
        width: 17.5%; /* 75% */
        height: 17.5%;
        margin-right: 2.5%;
    }

    .cherry img:last-child {
        margin-right: 0;
    }

    .options {
        display: flex;
        justify-content: center;
        margin: 10px 0 0;
    }

    .options button {
        margin-right: 10px;
    }

    .options button:last-child {
        margin-right: 0;
    }

    /* X and O */
    .X-and-O .shadow img {
        background: #c8c6ff;
        width: 100%; /* 300 */
        border-right: 3px solid black;
        border-bottom: 3px solid black;
        border-left: 3px solid white;
        border-top: 3px solid white;
    }

    .X-and-O .shadow {
        width: 80%;
        padding: 10px;
        margin: 0 auto;
    }

    .X-and-O {
        width: 90%;
        margin: 20px auto 0;
    }

    /* container elements*/
    section {
        width: 400px;
        margin: 15px auto;
    }

    .container {
        padding: 0;
        margin: 0 auto;
        width: 358px;
        height: 358px;
        display: flex;
        background: rgba(255, 228, 196, 0.54);
        flex-wrap: wrap;
        border-left: 2px solid black;
        border-bottom: 2px solid black;
    }

    .container div {
        margin: 0;
        width: 118.6px;
        height: 118.6px;
        border-right: 2px solid black;
        border-top: 2px solid black;
    }

    .container div img {
        width: 116.6px;
        height: 116.6px;
    }

    #game section button {
        width: 10%;
        margin-left: 45%;
    }

    .flex-center {
        display: flex;
        justify-content: center;
    }
}