body {
  margin: 0 auto;
  padding: 0;
  font-size: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/*h1{
  text-align: center!important;
  color: gold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}*/
.color{
  color : blue;
}
.try-again{
  text-align: center;
}
h2{
  text-align: center!important;
  color : orange;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.warning {
  text-align: center;
  color: #212529;
  background-color: #ffc107;
  border: 1px solid transparent;
  cursor: pointer;
  margin-top: 30px;
  border-radius: .25rem;
  padding: .375rem .75rem;
}

h3{
  text-align: center!important;
  color: chocolate;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

pre{
  text-align: center;
  font-family: "Ink Free";
  font-size: large;
  color: #000000;
}

.stopPlaying{
  text-align: left;
  margin-left: 0px;
  color: #212529;
  background-color: #ffc107;
  border: 1px solid transparent;
  cursor: pointer;
  margin-top: 30px;
  border-radius: .25rem;
  padding: .375rem .75rem;
}
div{
  text-align: center;
}
button{
  font-family: Arial;
}

.returnBack{
  margin-right: 75%;
}

.padding{
  padding-top: 4%;
}

h4{
  text-align: center!important;
  color: chocolate;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.size{
  padding-left: 40%;
  width: 60%;
}

img{
  padding-bottom: 21px;
}

li{
  display: inline;
  margin-right:1.5em;
  font-family: Times;
  font-size: 1.2em;
}
h1{
  display: inline;
  font-size: 1.5em;
  color: White;
  margin-right: 2em;
}
a{
  color: aliceblue;
}
a:hover{
  color: deepskyblue;
  cursor: pointer;
}
.header{
  display: inline-block;
  background: black;
  width: 100%;
  text-align: left;
}
