body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1{
  text-align: center!important;
  color: gold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.color{
  color : blue;
}
.try-again{
  text-align: center;
}
h2{
  text-align: center!important;
  color : orange;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.warning {
  text-align: center;
  color: #212529;
  background-color: #ffc107;
  border: 1px solid transparent;
  cursor: pointer;
  margin-top: 30px;
  border-radius: .25rem;
  padding: .375rem .75rem;
}

h3{
  text-align: center!important;
  color: chocolate;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

pre{
  text-align: center;
  font-family: "Ink Free";
  font-size: large;
  color: #000000;
}

.stopPlaying{
  text-align: left;
  margin-left: 0px;
  color: #212529;
  background-color: #ffc107;
  border: 1px solid transparent;
  cursor: pointer;
  margin-top: 30px;
  border-radius: .25rem;
  padding: .375rem .75rem;
}
div{
  text-align: center;
}
button{
  font-family: Arial;
}

.returnBack{
  margin-right: 75%;
}

.padding{
  padding-top: 4%;
}

h4{
  text-align: center!important;
  color: chocolate;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.size{
  padding-left: 40%;
  width: 60%;
}

img{
  padding-bottom: 20px;
}